.container1{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;    
}
header{
    width: 980px;
    height: 140px;
    background-color: #007f00;
}

nav {
    background-color: #007f00;
    width: 270px;
    height: 450px;
    margin-top: 15px;
}

article {
    background-color: #007f00;
    width: 690px;
    height: 450px;
    margin-left: 285px;
    margin-top: -450px;
}

footer{
    width: 980px;
    height: 70px;
    background-color: #007f00;
    margin-top: 15px;
}




